@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center cont">
    <h1 class="display-4">Bienvenue</h1>
    <p>Bienvenue sur le site de notre restaurant. Pour acceder à la carte, cliquez <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Carte">ICI</a></p>
</div>